Repository githedgehog/fabricator, pull requests merged in 2025-03, with the labels that each got.

#475 ci: publish test results from all vlabs/hlabs
  .github/workflows/ci.yaml
Labels: release-test

#500 feat(release-test): skip subinterfaces tests
  pkg/hhfab/release.go
Labels: release-test

#509 feat: extra step for all external test
  pkg/hhfab/release.go
Labels: release-test, skip-hlab

#512 feat: deploy gw api and ctrl if enabled
  api/fabricator/v1beta1/fabricator_types.go
  config/crd/bases/fabricator.githedgehog.com_fabricators.yaml
  docs/api.md
  go.mod
  go.sum
  pkg/controller/fabricator_ctrl.go
  pkg/fab/comp/f8r/f8r.go
  pkg/fab/comp/gateway/gateway.go
  pkg/fab/comp/gateway/values.tmpl.yaml
  pkg/fab/initconfig.tmpl.yaml
  pkg/fab/initconfig_test.go
  pkg/fab/recipe/control_build.go
  pkg/fab/versions.go
  pkg/fab/versions_test.go
  vendor/go.githedgehog.com/gateway/LICENSE
  vendor/go.githedgehog.com/gateway/api/gateway/v1alpha1/gateway_types.go
  vendor/go.githedgehog.com/gateway/api/gateway/v1alpha1/groupversion_info.go
  vendor/go.githedgehog.com/gateway/api/gateway/v1alpha1/peering_types.go
  vendor/go.githedgehog.com/gateway/api/gateway/v1alpha1/vpcinfo_types.go
  vendor/go.githedgehog.com/gateway/api/gateway/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Labels: skip-hlab
