Repository githedgehog/fabricator, pull requests merged in 2025-08, with the labels that each got.

#841 bump: k3s to v1.33.3+k3s1
  pkg/fab/README.md
  pkg/fab/versions.go
Labels: ci:+hlab

#819 release-test: add coverage for mesh
  pkg/hhfab/release.go
Labels: ci:+release, ci:+hlab

#842 chore(testing,tools): shorten all appliedFor/timeouts
  cmd/hhfab/main.go
  pkg/hhfab/release.go
  pkg/hhfab/testing.go
  pkg/hhfab/vlabrunner.go
Labels: ci:+release, ci:+hlab

#862 chore(lint): exclude vendor from golangci-lint
  .golangci.yml
Labels: ci:-vlab

#864 chore: use const for cls vs profile
  pkg/hhfab/vlabconfig.go
Labels: ci:-vlab

#875 ci(lint): fix by installing using go install to build with current go
  .github/workflows/ci.yaml
Labels: ci:-vlab
